body {
    text-align: center;
    margin: auto;
}

#logo {
    position: fixed;
    margin: 20px;
    top:0;
    left: 0;
    display: none;
}

#menuitems {
    position: fixed;
    margin: 20px;
    top:0;
    right: 0;
    display: none;
}

#logoimg {
    width: 50px;
}

#icon {
    margin-top: 70px;
    margin-bottom: 50px;
}

#menu {
    position: relative;
    top:60%;
    vertical-align: middle;
    padding: 10px;
}

.menuimg {
    width: 150px;
    height: 150px;
}

#top {
    background-image: url(image/webpage1/1-01.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

#about {
    background-image: url(image/webpage22a/2A-01.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

#aboutword {
    width: 15%;
    position: absolute;
    bottom: 300px;
    left: 550px;
}

#aboutpeople_a {
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 500px;
}

#aboutpeople_b {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 600px;
}

#aboutandroid {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 250px;
}

#aboutweb {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 350px;
}

#aboutsw {
    width: 10%;
    position: absolute;
    bottom: 10px;
    left: 450px;
}

#project {
    background-image: url(image/webpage3/3-01.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

#resume {
    background-image: url(image/webpage4page5/4-01.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

#contact {
    background-image: url(image/webpage4page5/5-01.jpg);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 300px;
    color: white;
}

.contactbg {
    background-color: rgb(137,164,198);
}

.sec_title {
    font-size: 50px;
}

#intro {
    text-align: left;
    margin-top: 100px;
    margin-left: 200px;
    background-color:#d5bee9;
    font-size: 20px;
    color: white;   
    width: 300px;
    padding: 10px;
}

.project_section {
    height: 200vh;
}
.section {
    height: 100vh;
    position: relative;
}

#project_slide {
    background-color:cornflowerblue;
    padding: 80px;
    height: 80%;  
}

.project_info {
    margin-left: 30px;
    text-align: left;
    background-color: ghostwhite;
}

.mylabel {
    margin-bottom:10px;
}

.detail {
    color:darkblue;
}

.mybutton {
    font-size: 25px;
}

.myinfo {
    text-align: left;
}

.resume_title {
    font-weight: 600;
}

.star {
    color: red;
}