body {
    text-align: center;
    margin: auto;
    background-image: url(image/wavegrid.png);
    background-repeat: repeat;
}

.bg {
    position: relative;
}

.bg img {
    /*height: 100vh;*/
    width: 100%;
}
#top {
    background-image: url(image/webpage1/1-04.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#welcome {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: rgb(250, 255, 84);
    text-shadow: 3px 3px gray;
    font-size: 50px;
    
}

#menu-btn {
    position: absolute;
    bottom:10%;
    left: 0;
    right: 0;
}

.menuimg {
    width: 150px;
    height: 150px;
}

.menu-text {
    color: aliceblue;
    font-size: 20px;
    font-weight:bolder;
    text-shadow: 2px 2px black;
    margin: 1% 30% 1% 30%;;
    padding: 1%;
    border: 3px dashed aliceblue;
    border-radius: 8px;
}

.menu-text:hover {
    color: rgb(255, 211, 34);
    background-color: rgb(134, 209, 194);
}

#aboutphoto {
    float: left;
}

.intro {
    padding: 8%;
    overflow: auto;
}

#aboutword {
    text-align: left;
    color: darkslategray;
    padding-top: 3%;
}

.featured {
    font-size: 1.1875em;
    line-height: 1.474em;
}

#todo {
    background-color: rgb(157, 200, 61);
    padding: 50px;
}

h3 {
    color: rgb(99, 160, 70);
}

#todo h4 {
    color: rgb(70, 120, 50);
}

.service {
    position: relative;
    display: inline-block;
    text-align: left;
    color: azure;
    vertical-align:top;
    margin: 0 3% 0 3%;
}

.service h4, .service p{
    margin-left: 110px;
}

.flower {
    width: 110px;
    float: left;
}

#canhelp, #project{
    padding: 50px;
}

#canhelp p {
    text-align: left;
    margin: auto;
    width: 60%;
}

#canhelp img {
    width: 25%;
}

.projectphoto {
    position: relative;
    display: inline-table;
    width: 15%;
    margin: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.projectphoto:hover .overlay {
    opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#contact {
    background-image: url(image/webpage4page5/5-04.png);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact img {
    width: 60%;
    margin-bottom: 50px;
}

.myform {
    margin: 0 30% 0 30%;
    height: 450px;
}

.contactbg {
    background-color: rgb(137,164,198);
}

#project_slide {
    background-color:cornflowerblue;
    padding: 80px;
    height: 80%;  
}

.project_info {
    margin-left: 30px;
    text-align: left;
    background-color: ghostwhite;
}

.mylabel {
    margin-bottom:10px;
}

.detail {
    color:darkblue;
}

.mybutton {
    font-size: 25px;
}

.myinfo {
    text-align: left;
}

.resume_title {
    font-weight: 600;
}

.star {
    color: red;
}