body {
    text-align: center;
    background-repeat: repeat;
    margin: auto;
}

.mytitlearea {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.mytitle {
    max-width: 50%;
    margin: auto;
    font-size: 40px;
    background:rgba(255,255,255,0.8);
    outline: 1px solid;
    outline-color: white;
    outline-offset: 8px;
    padding: 60px;
}

#logoimg {
    position: fixed;
    margin: 20px;
    top:0;
    left: 0;
    width: 50px;
}

#intro {
    text-align: left;
}

#show {
    background-color: white;
    margin-top: 20px;
    padding: 25px;
    border-radius: 4px;
    width: 800;
    color: rgb(26,26,26);
}

.title {
    font-weight: bold;
    color:rgb(143, 112, 70);
}

.content {
    margin-left: 30px;
}

.imgdemo {
    padding: 0 10% 0 10%;
}