body {
    background-image: url(../../image/grey_wash_wall.png);
}

h3 {
    color: rgb(112, 110, 125);
}

.mytitlearea {
    background-image: url(../../image/money-372787_1920.jpg);
}

.skill {
    width: 40%;
    margin: 10px;
    display:inline-table;
}

.myimg {
    height: 100px;
    margin: auto;
}

.mybtn {
    background-color: rgb(161, 176, 197);
    border: 1px solid rgb(161, 176, 197);
    padding: 6px;
    margin: 5px;
    width: 160PX;
    color:rgb(112, 110, 125);
    float: left;
}

.size {
    font-size: 1.6em;
    font-weight: bold;
}

.des {
    font-size: 0.8em;
}

.appimg {
    height: 300px;
    margin: 10px;
}

iframe {
    margin-top: 20px;
}